<div class="screen">
    <header ng-include="'views/header.html'"></header>
    <main class="container-fluid bio">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <!--use everything above here in each partial - change line 3 class name for page specific styles-->
                
            
                <div class="row item-row item-row1">
                    <div class="col-sx-12 col-sm-9 col-sm-offset-3 item item-left">
                        <h2>Davy Jones</h2>
                        <p>Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no.</p>
                    </div>
                </div>
                
                <div class="row item-row item-row2">
                    <div class="col-sx-12 col-sm-9 item item-right">
                        <h2>Michael Nesmith</h2>
                        <p>Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no.</p>
                    </div>
                </div>
                
                <div class="row item-row item-row3">
                    <div class="col-sx-12 col-sm-9 col-sm-offset-3 item item-left">
                        <h2>Micky Dolenz</h2>
                        <p>Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no.</p>
                    </div>
                </div>
                
                <div class="row item-row item-row4">
                    <div class="col-sx-12 col-sm-9 item item-right">
                        <h2>Peter Tork</h2>
                        <p>Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no.</p>
                    </div>
                </div>
    
                <!--use everything below here in each partial--> 
            </div>
        </div>
    </main>
    <footer ng-include="'views/footer.html'"></footer>
</div><!--screen-->