<div class="screen">
    <header ng-include="'views/header.html'"></header>
    <main class="container-fluid media">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <!--use everything above here in each partial - change line 3 class name for page specific styles-->


                <div class="row media-row">
                    <div class="col-xs-12">

                        <!--<header>
                            <h2>{{ pageTitle }}</h2>
                            <a href="https://itunes.apple.com/gb/artist/the-monkees/id4512388">
                                <img class="img-responsive" src="img/itunes-rs.png" alt="itunes Logo" />
                            </a>
                        </header>-->

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 audio-showcase">
                                <h3>Showcase: Listen to our latest track</h3>
                                <p>I'm A Believer - The Monkees</p>
                                <audio controls preload="none">
                                    <source src="audio/ImABeliever.ogg" type="audio/ogg" />
                                    <source src="audio/ImABeliever.mp3" type="audio/mpeg" />
                                    <a href="audio/ImABeliever.mp3">I'm A Believer - The Monkees</a> An html5-capable browser is required to play this audio.
                                </audio>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-xs-12 col-sm-6 audio-skin">
                                <p>Clarksville - The Monkees</p>
                                <audio controls preload="none">
                                    <source src="audio/Clarksville.ogg" type="audio/ogg" />
                                    <source src="audio/Clarksville.mp3" type="audio/mpeg" />
                                    <a href="audio/Clarksville.mp3">Clarksville - The Monkees</a>
                                </audio>
                            </div>
                            <div class="col-xs-12 col-sm-6 audio-skin">
                                <p>Daydream Believer - The Monkees</p>
                                <audio controls preload="none">
                                    <source src="audio/DaydreamBeliever.ogg" type="audio/ogg" />
                                    <source src="audio/DaydreamBeliever.mp3" type="audio/mpeg" />
                                    <a href="audio/DaydreamBeliever.mp3">Daydream Believer - The Monkees</a>
                                </audio>
                            </div>
                            <div class="col-xs-12 col-sm-6 audio-skin">
                                <p>Stepping Stone - The Monkees</p>
                                <audio controls preload="none">
                                    <source src="audio/SteppingStone.ogg" type="audio/ogg" />
                                    <source src="audio/SteppingStone.mp3" type="audio/mpeg" />
                                    <a href="audio/SteppingStone.mp3">Stepping Stone - The Monkees</a>
                                </audio>
                            </div>
                            <div class="col-xs-12 col-sm-6 audio-skin">
                                <p>Tail Toddle</p>
                                <audio controls preload="none">
                                    <source src="audio/tailtoddle_lo.ogg" type="audio/ogg" />
                                    <source src="audio/tailtoddle_lo.mp3" type="audio/mpeg" />
                                    <a href="audio/tailtoddle_lo.mp3">Tail Toddle</a>
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="row media-row">-->
                <!--    <div class="col-xs-12">-->

                <!--        <header>-->
                <!--            <h2>{{ pageTitle2 }}</h2>-->
                <!--            <a href="https://www.youtube.com/results?search_query=monkees">-->
                <!--                <img class="img-responsive pull-right" src="img/You-Tube-Logo-rs.png" alt="You Tube Logo" />-->
                <!--            </a>-->
                <!--        </header>-->


                <!--        <div class="row video-item-row">-->
                <!--            <video class="vid" width="300" controls="controls" preload="none">-->
                <!--                <source src="video/TheMonkees.mp4" />-->
                <!--<source src="video/OGV_Bunny.ogv"/>-->
                <!--                Your browser does not support the video tag.-->
                <!--            </video>-->
                <!--            <video class="vid" width="300" controls="controls" preload="none">-->
                <!--                <source src="video/TheMonkees.mp4" />-->
                <!--<source src="video/OGV_Bunny.ogv"/>-->
                <!--                Your browser does not support the video tag.-->
                <!--            </video>-->
                <!--            <video class="vid" width="300" controls="controls" preload="none">-->
                <!--                <source src="video/TheMonkees.mp4" />-->
                <!--<source src="video/OGV_Bunny.ogv"/>-->
                <!--                Your browser does not support the video tag.-->
                <!--            </video>-->
                <!--        </div>-->

                <!--    </div>-->
                <!--</div>-->

                <!--<div class="row media-row">-->
                <!--    <div class="col-xs-12">-->

                <!--        <header>-->
                <!--            <h2>{{ pageTitle3 }}</h2>-->
                <!--        </header>-->

                <!--        <div class="row img-item-row">-->
                <!--            <div class="item" ng-repeat="item in images">-->
                <!--                <a ng-click="openLightboxModal($index)">-->
                <!--                    <img ng-src="{{item.url}}" alt="{{item.alt}}" class="img-thumbnail">-->
                <!--                </a>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->

            </div>
        </div>


        <!--use everything below here in each partial-->
</div>
</div>
</main>
<footer ng-include="'views/footer.html'"></footer>
</div>
